/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.alertcolor {background-color: #1A2F57 ;}
.nav-color{background: #1A2F57 ;}
.text {color: #ffff;}
.container{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.example-tooltip-red {
    background: #1A2F57 ;
}
.white {
    background: #ffff ;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.ocultarelemento{
    display: none !important;
}

.ok{
    background-color: #50C878;
}

.error{
    background-color: #C70039;
}