<mat-toolbar class="nav-color">
    <span  class="text">SmartERP - Configuraciones</span>
    <span class="example-spacer"></span>
    <button mat-button><span class="text">Presupuesto</span></button>
    <button mat-button><span class="text">Reportes</span></button>
    <button mat-button><span class="text">Configuracion General</span></button>
    <span class="example-spacer"></span>
    <button (click) ="_deslogearUsuario()" mat-icon-button class="" aria-label="Example icon-button with heart icon">
        <mat-icon class="text">logout</mat-icon>
      </button>
  </mat-toolbar>