.body_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:	#FFFFFF;
}

.login{
    width: 100%;
    max-width: 360px;
    text-align: center;
}

.img_login {
    width: 60%;
}

.textbox {
    width: 80%;
}

.colorbutton {
    background-color:#1A2F57 ;
}
.colortextbutton{
    color: #FFFFFF;
}
.textcolor{
    color:#1A2F57 ;
}

.spinner{
    margin: 0 auto;
}